# Addition of two numbers

In [2]:
num1 = int(input("Enter a first number:"))
num2 = int(input("Enter a second number:"))

def add():
    addition = num1 + num2
    print("Additon of two numbers are: ")
    return addition

add()

Enter a first number: 5
Enter a second number: 3

Additon of two numbers are:

8

# Substraction of two number

In [3]:
num1 = int(input("Enter a first number:"))
num2 = int(input("Enter a second number:"))

def sub():
    substraction = num1 - num2
    print("substraction of two numbers are: ")
    return substraction

sub()

Enter a first number: 5
Enter a second number: 3

substraction of two numbers are:

2

# Multiplication of two number

In [5]:
num1 = int(input("Enter a first number:"))
num2 = int(input("Enter a second number:"))

def mul():
    multiplication = num1 * num2
    print("multiplication of two numbers are: ")
    return multiplication

mul()

Enter a first number: 5
Enter a second number: 3

multiplication of two numbers are:

15

# Divison of two number

In [9]:
num1 = int(input("Enter a first number:"))
num2 = int(input("Enter a second number:"))

def div():
    divison = num1 / num2
    print("divison of two numbers are: ")
    return divison

div()

Enter a first number: 5
Enter a second number: 3

divison of two numbers are:

2

# Modulo of two number

In [10]:
num1 = int(input("Enter a first number:"))
num2 = int(input("Enter a second number:"))

def Modulo():
    mod = num1 % num2
    print("Modulo of two numbers are: ")
    return mod

Modulo()

Enter a first number: 5
Enter a second number: 3

Modulo of two numbers are:

2

# Ternary Operator

In [13]:
num1 = int(input("Enter a number:"))
print("Input number is: ")
res = "Positive" if num1>0 else "Negative" if num1<0 else "Zero"
print(res)

Enter a number: -3

Input number is:
Negative

# Increment and Decrement

In [19]:
num = int(input("Enter a number: ")) #Increment
num += 1
print("Increment after +1:", num)

Enter a number:  5

Increment after +1: 6

In [20]:
num = int(input("Enter a number: ")) #Decrement
num -= 1
print("Decrement after -1:", num)

Enter a number:  5

Decrement after -1: 4

# Check wheather they are equal or not.

In [22]:
num1 = int(input("Enter a first number:"))
num2 = int(input("Enter a second number:"))

if num1 == num2:
    print("They are equal")
else:
    print("They are not equal")

Enter a first number: 5
Enter a second number: 3

They are not equal

# Write a program wheather a given number is positive or negative

In [25]:
num = int(input("Enter a number:"))
if num>0:
    print("Number is Positive.")
elif num<0:
    print("Number is Negative.")
else:
    print("Number is Zero.")

Enter a number: 5

Number is Positive.

# Wheather given year is leap year or not

In [38]:
Year = int(input("Enter a year: "))

if (Year % 400 == 0) and (Year % 100 == 0):
    print(f"{Year} is leap year")
elif (Year % 4 == 0) and (Year % 100 != 0):
    print(f"{Year} is leap year")
else:
    print(f"{Year} is not a leap year")

Enter a year:  2025

2025 is not a leap year

# Check wheather a triangle can be formed or not

In [43]:
a = int(input("Enter a first number:"))
b = int(input("Enter a second number:"))
c = int(input("Enter a third number:"))

if (a+b)>c and (b+c)>a and (a+c)>b:
    print("It is valid traingle")
else:
    print("It is not valid traingle")

Enter a first number: 7
Enter a second number: 10
Enter a third number: 5

It is valid traingle

# Check wheather it is number, alphabet or special character

In [53]:
char = input("Enter a input here: ")
if (char>='a' and char<= 'z') or (char>='A' and char<= 'Z'):
    print('it is character')
elif (int(char)>= 0 and int(char) <= 9):
    print('it is a number')
else:
    print('it is special character')

Enter a input here:  4

it is a number

# Check wheather it is vowel, consonant

In [55]:
vowel = ['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']
char = input('Enter a character here: ')

if char in vowel:
    print('It is vowel')
else:
    print('It is consonant')

Enter a character here:  b

It is consonant

# Convert number into words

In [77]:
numword = { 1 : 'Monday', 2 : 'Tuesday', 3 : 'Wednesday', 4 : 'Thursday', 5 : 'Friday', 6 : 'Saturday', 7 : 'Sunday'}
num = int(input("Enter a number here: "))

print(f"{numword[num]} is the day.")

Enter a number here:  3

Wednesday is the day.

# Extract the digit from the number.

In [71]:
num = int(input('Enter a number here: '))

while num>0:
    rem = num % 10
    num = num - rem
    num = num / 10
    num = int(num)
    print(rem)

Enter a number here:  1234

4
3
2
1

# Write a program to find the sum of first 10 natural numbers.

In [79]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [80]:
sum = 0
for i in range(1,11):
    sum = sum + i

print(sum)

55

# Write a program to display n terms of natural number and their sum

In [84]:
sum = 0
n = int(input("Enter a number here: "))
print('Natural number list: ')
for i in range(1, n+1):
    print(i)
    sum = sum + i
print("------")
print(f"{sum} is total sum.")

Enter a number here:  15

Natural number list:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
------
120 is total sum.

# Write a program to display the cube of the number

In [85]:
n = int(input("Enter a number here: "))
for i in range(1, n+1):
    print(i ** 3)
    print("-------")

Enter a number here:  8

1
-------
8
-------
27
-------
64
-------
125
-------
216
-------
343
-------
512
-------

# Write a program to display mulltiplication table

In [90]:
n = int(input('Enter a number table'))

for i in range(1, 11):
    print(f"{n} * {i} = {n * i}")
    print("---------------")

Enter a number table 25

25 * 1 = 25
---------------
25 * 2 = 50
---------------
25 * 3 = 75
---------------
25 * 4 = 100
---------------
25 * 5 = 125
---------------
25 * 6 = 150
---------------
25 * 7 = 175
---------------
25 * 8 = 200
---------------
25 * 9 = 225
---------------
25 * 10 = 250
---------------

# Write a program for the factorial number

In [94]:
n = int(input("Enter a number here: "))
fact = 1
for i in reversed(range(1, n+1)):
    fact = fact * i

print(fact)

Enter a number here:  5

120

# Write a program to display n terms of even natural numbers and their sum

In [106]:
n = int(input("Enter a number here: "))
sum = 0
print(f"Here is first {n} even numbers")
for i in range(1, (n+1)*2):
    if i % 2 == 0:
        print(i)
        sum = sum + i

print("------------------------------------")
print(f"Sum of total {n} even number is {sum}" )

Enter a number here:  10

Here is first 10 even numbers
2
4
6
8
10
12
14
16
18
20
------------------------------------
Sum of total 10 even number is 110

# Write a program to check given number is armstrong or not

In [125]:
n = int(input("Enter a number here: "))
original_n = n
sum = 0

while n>0:
    rem = n%10
    sum = sum + (rem ** len(str(original_n)))
    rem = int(rem)
    n = n - rem
    n = n / 10
    sum = int(sum)

print(f"{sum} is the sum of digits in n")
if original_n == sum:
    print(f"{sum} is the armstrong number")

Enter a number here:  153

153 is the sum of digits in n
153 is the armstrong number

# Write a program to check number is prime or not

In [136]:
n = int(input("Enter a number here: "))

if n>1:
    for i in range(2, (n // 2) + 1):
        if n % i == 0:
            print(f"{n} is not prime number.")
            break
    else:
        print(f"{n} is prime number.")

Enter a number here:  37

37 is prime number.

# display the first n terms of fibonnaci series

In [143]:
num = int(input("Enter a number here"))
n1, n2 = 0, 1
count = 0
print("Fibonacci series: ", n1, n2, end = " ")
while count < num:
    n3 = n1 + n2
    n1 = n2
    n2 = n3
    count += 1
    print(n3, end = " ")

Enter a number here 10

Fibonacci series:  0 1 1 2 3 5 8 13 21 34 55 89

# Display the number in reverse order

In [144]:
num = int(input('Enter a number here: '))

while num>0:
    rem = num % 10
    num = num - rem
    num = num / 10
    num = int(num)
    print(rem, end = "")

Enter a number here:  1234

4321

# Check number is palindrome or not

In [159]:
num = int(input('Enter a number here: '))
original_num = num
sum = 0
while num>0:
    rem = num % 10
    sum = sum * 10 + rem
    num = num // 10
    num = int(num)
  
print(sum)

if sum == original_num:
    print("number is palindrome")
else:
    print("number is not palindrome")

Enter a number here:  121

121
number is palindrome

# Make a game of rock papaer scissor game

In [186]:
Player1 = input("Player 1: ").lower()
Player2 = input("Player 2: ").lower()

moves = ['r', 'p', 's']

if Player1 in moves and Player2 in moves:
    print("Valid moves")
    if Player1 == Player2:
        print("Its Draw")
    elif (Player1 == 'p' and Player2 == 'r') or (Player1 == 's' and Player2 == 'p') or (Player1 == 'r' and Player2 == 's'):
        print("Player 1 wins")
    else:
        print("Player 2 wins")
else:
    print("invalid move")

Player 1:  t
Player 2:  i

invalid move

----------

# Make a pattern of *

In [188]:
for i in range(6):
    for j in range(i):
        print('*', end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

# Make a pattern of numbers

In [192]:
for i in range(1, 6):
    for j in range(1, i):
        print(j, end = " ")
    print()

1
1 2
1 2 3
1 2 3 4

In [198]:
for i in range(5):
    for j in range(i):
        print(i, end = " ")
    print()

1
2 2
3 3 3
4 4 4 4

# Write program for a pattern of 1 to 10

In [199]:
num = 1
for i in range(5):
    for j in range(i):
        print(num, end = " ")
        num += 1
    print()

1
2 3
4 5 6
7 8 9 10

In [201]:
size = 5
m = (2 * size) - 2

for i in range(0, size):
    for j in range(0, m):
        print(end = " ")
    m = m - 1
    for j in range(0, i + 1):
        print("*", end=' ')
    print(" ")

        *
       * *
      * * *
     * * * *
    * * * * *

In [206]:
for i in range(6):
    for j in range(6):
        print('*', end = " ")
    print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [209]:
for i in range(5, 0, -1):
    for j in range(0, i):
        print('*', end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

# Array Programs

# Write a program to read n numbers of values is an array and display it in reverse order

In [216]:
import numpy as np
arr = [1,2,3,4,5,6]
le = len(arr)
n = int(input(f"pick any index number from 0 to {le-1}: - "))
array = arr[n]
print(array)

pick any index number from 0 to 5: -  2

3

# Write a program to copy one element from one array to another

In [221]:
arr = np.array([1,2,3,4,5,6])
arr2 = arr
arr2

array([1, 2, 3, 4, 5, 6])

---------------

# Function

# Write a propgram to find square of any number using this function

In [4]:
n = int(input("Enter a number here: "))

def square():
    sq = n ** 2
    print(f"{n} number square is {sq}.")

square()

Enter a number here:  6

6 number square is 36.

# Write a program to swap two numbers using the function

In [15]:
def swaping(num1, num2):
    num1, num2 = num2, num1
    print(f"{num1} is first number after swaping")
    print(f"{num2} is second number after swaping")

swaping(10, 12)
swaping(4, 5)

12 is first number after swaping
10 is second number after swaping
5 is first number after swaping
4 is second number after swaping

# Write a program to wheather number is prime or not.

In [21]:
def primeornot(n):
    if n>1:
        for i in range(2, (n // 2) + 1):
            if n % i == 0:
                print(f"{n} is not a prime number.")
                break
        else:
            print(f"{n} is prime number")

primeornot(5)
primeornot(14)
primeornot(21)
primeornot(13)

5 is prime number
14 is not a prime number.
21 is not a prime number.
13 is prime number

# Write a program to extract the largest element in an array

In [3]:
arr = np.array([1,3,5,7,9])
int(max(arr))

9

In [13]:
arr = np.array([1,3,5,7,9])

def maxarray(arr):
    if arr.size == 0:
        return None
    else:
        print(np.max(arr))

maxarray(arr)

9

# Write a program to extract the maximum and minimum elements in an array

In [19]:
arr = np.array([1,4,6,8,9,2])

def maxmin(arr):
    if arr.size == 0:
        return None
    else:
        print("Max element in an array is",np.max(arr))
        print("Min element in an array is",np.min(arr))

maxmin(arr)

Max element in an array is 9
Min element in an array is 1

# Write a program to convert decimal number to binary number

In [13]:
num = int(input("Enter a number here"))
reversed_str = ""

while num>0:
    rem = num % 10
    num = num - rem
    num = num / 10
    num = int(num)
    reversed_str += str(rem)

int(reversed_str)

Enter a number here 125

521

In [19]:
num = 125

def dec_bin(num):
    reversed_str = ""
    while num>0:
        if num % 2 == 0:
            reversed_str += "0"
        else:
            reversed_str += "1"
        num = num // 2
    
    return reversed_str[::-1]

dec_bin(num)

'1111101'

In [1]:
125 // 2

62

--------

# Switch Programs

-----

# Basic Programs

# Write a program to calculate months, weeks, and years from given days number

In [25]:
n = int(input('enter a number here: '))

def years_months_days(n):
    years = n // 365
    months = (n - years * 365) // 30
    days = (n - years * 365 - months * 30)
    print("years: ", years)
    print("months: ", months)
    print("days: ", days)

years_months_days(n)

enter a number here:  3000

years:  8
months:  2
days:  20

# Write a program to calculate the distance between two points

In [28]:
dist1 = int(input("Enter only first distance number in KM here: "))
dist2 = int(input("Enter only second distance number in KM here: "))

def difference(dist1, dist2):
    diff = dist1 - dist2
    diff = abs(diff)
    print("difference between both distance in KM is: ", diff)

difference(dist1, dist2)

Enter only first distance number in KM here:  9
Enter only second distance number in KM here:  7

difference between both distance in KM is:  2

# Write a program to convert a given amount and break the amount in smallest possible number for bank notes

In [1]:
def countCurrency(amount):    
    notes = [2000, 500, 200, 100, 50, 20, 10]
    notesCount = {}
    
    for note in notes:
        if amount >= note:
            notesCount[note] = amount//note
            amount = amount % note
            
    print ("Currency Count ->")
    for key, val in notesCount.items():
        print(f"{key} : {val}")

amount = 1120
countCurrency(amount)

Currency Count ->
500 : 2
100 : 1
20 : 1

# Write a python code to convert seconds to hours, minutes and seconds

In [2]:
def convert(seconds):
	seconds = seconds % (24 * 3600)
	hour = seconds // 3600
	seconds %= 3600
	minutes = seconds // 60
	seconds %= 60
	
	return "%d:%02d:%02d" % (hour, minutes, seconds)
	

n = 3600
print(convert(n))

10:29:48

# Write a python program to calculate sum of all numbers between them.

In [7]:
num1 = int(input("Enter a first number here: "))
num2 = int(input("Enter a second number here: "))
sum = 0

for i in range(num1, num2+1):
    if i%2 != 0:
        sum += i
    else:
        continue
print(f"sum of all odds between {num1} and {num2} is:", sum)

Enter a first number here:  1
Enter a second number here:  10

sum of all odds between 1 and 10 is: 25

# Write a program to print all even numbers in range 1 to 50

In [9]:
num1 = 1
num2 = 50
count = 0

for i in range(1,50+1):
    if i%2 == 0:
        count += 1
        print("---------------------------------")
        print(f"{count}th even number is:", i)
    else:
        continue

---------------------------------
1th even number is: 2
---------------------------------
2th even number is: 4
---------------------------------
3th even number is: 6
---------------------------------
4th even number is: 8
---------------------------------
5th even number is: 10
---------------------------------
6th even number is: 12
---------------------------------
7th even number is: 14
---------------------------------
8th even number is: 16
---------------------------------
9th even number is: 18
---------------------------------
10th even number is: 20
---------------------------------
11th even number is: 22
---------------------------------
12th even number is: 24
---------------------------------
13th even number is: 26
---------------------------------
14th even number is: 28
---------------------------------
15th even number is: 30
---------------------------------
16th even number is: 32
---------------------------------
17th even number is: 34
---------------------------------
18th even number is: 36
---------------------------------
19th even number is: 38
---------------------------------
20th even number is: 40
---------------------------------
21th even number is: 42
---------------------------------
22th even number is: 44
---------------------------------
23th even number is: 46
---------------------------------
24th even number is: 48
---------------------------------
25th even number is: 50

# Write a program to count positive and negative numbers from them

In [12]:
numbers = [2,4,7,-2,-6]
count_negative = 0
count_positive = 0

for i in numbers:
    if i < 0:
        count_negative += 1
    elif i>0:
        count_positive += 1
        continue
print("Count of negative numbers are: ", count_negative)
print("Count of positive numbers are: ", count_positive)

Count of negative numbers are:  2
Count of positive numbers are:  3

# Average of positive integers

In [19]:
numbers = [2,4,7,-2,-6]
sumof = 0
count = 0

for i in numbers:
    if i > 0:
        sumof += i
        count += 1
    else:
        continue
average = sumof / count
print("Average of positive integers are: ", round(average,2))

Average of positive integers are:  4.33

# Write a program to print square of even values from 1 to specified value.

In [21]:
num = int(input("Enter a number here: "))

for i in range(1, num+1):
    if i % 2 == 0:
        print("---------------------------------")
        print(f"{i} number square is: ", i ** 2)
    else:
        continue

Enter a number here:  50

---------------------------------
2 number square is:  4
---------------------------------
4 number square is:  16
---------------------------------
6 number square is:  36
---------------------------------
8 number square is:  64
---------------------------------
10 number square is:  100
---------------------------------
12 number square is:  144
---------------------------------
14 number square is:  196
---------------------------------
16 number square is:  256
---------------------------------
18 number square is:  324
---------------------------------
20 number square is:  400
---------------------------------
22 number square is:  484
---------------------------------
24 number square is:  576
---------------------------------
26 number square is:  676
---------------------------------
28 number square is:  784
---------------------------------
30 number square is:  900
---------------------------------
32 number square is:  1024
---------------------------------
34 number square is:  1156
---------------------------------
36 number square is:  1296
---------------------------------
38 number square is:  1444
---------------------------------
40 number square is:  1600
---------------------------------
42 number square is:  1764
---------------------------------
44 number square is:  1936
---------------------------------
46 number square is:  2116
---------------------------------
48 number square is:  2304
---------------------------------
50 number square is:  2500

# Write a program to distinguish between postive even, positive odd, negative even, negative odd, and even

In [30]:
num = int(input("Enter a number here: "))

if num>0:
    if num % 2 == 0:
        print(f"{num} is postive even")
    elif num % 2 != 0:
        print(f"{num} is positive odd")
        pass

elif num<0:
    if -(num) % 2 == 0:
        print(f"{num} is negative even")
    elif -(num) % 2 != 0:
        print(f"{num} is negative odd")
        pass
else:
    print("It is Even")

Enter a number here:  -4

-4 is negative even

# Write a program which divide by specified number and remainder is 3

In [42]:
list1 = [2,3,5,7]
for i in range(1,101):
    for j in list1:
        if i % j == 3:
            print(f"{i} divided by {j} and remainder is 3.")
            print("-----------------------------------------")

3 divided by 5 and remainder is 3.
-----------------------------------------
3 divided by 7 and remainder is 3.
-----------------------------------------
8 divided by 5 and remainder is 3.
-----------------------------------------
10 divided by 7 and remainder is 3.
-----------------------------------------
13 divided by 5 and remainder is 3.
-----------------------------------------
17 divided by 7 and remainder is 3.
-----------------------------------------
18 divided by 5 and remainder is 3.
-----------------------------------------
23 divided by 5 and remainder is 3.
-----------------------------------------
24 divided by 7 and remainder is 3.
-----------------------------------------
28 divided by 5 and remainder is 3.
-----------------------------------------
31 divided by 7 and remainder is 3.
-----------------------------------------
33 divided by 5 and remainder is 3.
-----------------------------------------
38 divided by 5 and remainder is 3.
-----------------------------------------
38 divided by 7 and remainder is 3.
-----------------------------------------
43 divided by 5 and remainder is 3.
-----------------------------------------
45 divided by 7 and remainder is 3.
-----------------------------------------
48 divided by 5 and remainder is 3.
-----------------------------------------
52 divided by 7 and remainder is 3.
-----------------------------------------
53 divided by 5 and remainder is 3.
-----------------------------------------
58 divided by 5 and remainder is 3.
-----------------------------------------
59 divided by 7 and remainder is 3.
-----------------------------------------
63 divided by 5 and remainder is 3.
-----------------------------------------
66 divided by 7 and remainder is 3.
-----------------------------------------
68 divided by 5 and remainder is 3.
-----------------------------------------
73 divided by 5 and remainder is 3.
-----------------------------------------
73 divided by 7 and remainder is 3.
-----------------------------------------
78 divided by 5 and remainder is 3.
-----------------------------------------
80 divided by 7 and remainder is 3.
-----------------------------------------
83 divided by 5 and remainder is 3.
-----------------------------------------
87 divided by 7 and remainder is 3.
-----------------------------------------
88 divided by 5 and remainder is 3.
-----------------------------------------
93 divided by 5 and remainder is 3.
-----------------------------------------
94 divided by 7 and remainder is 3.
-----------------------------------------
98 divided by 5 and remainder is 3.
-----------------------------------------

# Write a program that accepts some integers and find highest value and position in that.

In [46]:
n = int(input("Total number of values: "))
list1 = []
for i in range(n):
    list1.append(int(input("Enter a number here: ")))

max_value = max(list1)
idx = list1.index(max_value)

print("Max value in given numbers is", max_value)
print("Index position of given number is", idx)

Total number of values:  3
Enter a number here:  4
Enter a number here:  5
Enter a number here:  6

Max value in given numbers is 6
Index position of given number is 2

# Write a program to read correct password

In [2]:
correct = '1234'
password = input("Enter a password here: ")

while True:
    if password == correct:
        print("It is correct password")
        break
    else:
        print("Incorrect password try again")
        password = input("Enter a password here: ")
        continue

Enter a password here:  56667674

Incorrect password try again

Enter a password here:  443354657

Incorrect password try again

Enter a password here:  88686

Incorrect password try again

Enter a password here:  fhfh

Incorrect password try again

Enter a password here:  1234

It is correct password

# Write a program to divide two numbers

In [9]:
num1 = int(input("Enter a first number here: "))
num2 = int(input("Enter a second number here: "))

if num2 != 0:
    div = num1 / num2
    div = round(div, 2)
    print("Division is possible")
    print("Divison is", div)
elif num2 == 0:
    print("Divison is not possible here")

Enter a first number here:  57576
Enter a second number here:  76

Division is possible
Divison is 757.58

# Program which divisible by 7 and remainder is 2 or 3.

In [10]:
num1 = int(input("Enter a first number here: "))
num2 = int(input("Enter a first number here: "))
list1 = []

for i in range(num1, num2+1):
    if i % 7 == 2 or i % 7 ==3:
        list1.append(i)

print(list1)

Enter a first number here:  1
Enter a first number here:  100

[2, 3, 9, 10, 16, 17, 23, 24, 30, 31, 37, 38, 44, 45, 51, 52, 58, 59, 65, 66, 72, 73, 79, 80, 86, 87, 93, 94, 100]

------

# String Programs

In [42]:
str1 = input("Enter a string here: ")

print("String is: ",str1)

Enter a string here:  Hello world!

String is:  Hello world!

In [17]:
#Length of string
print("Length of string is", len(str1))

Length of string is 12

# Separate indivisual character in string

In [21]:
list1 = []
for i in str1:
    list1.append(i)

print("Characters are: ", list1)

Characters are:  ['H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd', '!']

# Print character in reverse order

In [28]:
rev_str = str1[::-1]
list1 = []
for i in rev_str:
    list1.append(i)

print("Characters are: ", list1)

Characters are:  ['!', 'd', 'l', 'r', 'o', 'W', ' ', 'o', 'l', 'l', 'e', 'H']

# Total characters, digits and special characters

In [40]:
str1 = "hjwdhdhg23234@&"
count_str = 0
count_digit = 0
count_sc = 0
for i in str1:
    if i.isalpha():
        count_str += 1
    elif i.isdigit():
        count_digit +=1
    else:
        count_sc += 1

print("Total digits are: ", count_digit)
print("Total characters are: ", count_str)
print("Total special characters are: ", count_sc)

Total digits are:  5
Total characters are:  8
Total special characters are:  2

# Write a program to sort string in ascending order.

In [51]:
sorted(str1)

['H', 'e', 'l', 'l', 'o']

# String join

In [47]:
str1 = "Hello"
str2 = "World"

string = str1 + " " + str2 + "!"
print(string)

Hello World!

# Copy string

In [50]:
import copy
str3 = copy.copy(string)
str3

'Hello World!'

--------------------

# Class and objects programs

In [54]:
# Practice
class Myclass:
    x = 5

classs = Myclass()
classs.x

5

In [60]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("Kabir", 25)
print(p1.name)
print(p1.age)
print(p1)

Kabir
25
<__main__.Person object at 0x7f1947062320>

In [59]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def __str__(self):
        return f"{self.name} ({self.age})"
p1 = Person("Kabir", 25)
print(p1)

Kabir (25)

In [63]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("Kabir", 25)
p1.myfunc()

Hello my name is Kabir

In [66]:
class Person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(xyz):
    print("Hello my name is " + xyz.name)

p1 = Person("John", 36)
p1.myfunc() 
p1.age = 47
print(p1.age)

Hello my name is John
47

In [69]:
class Person:
    def __init__(self, firstname, lastname):
        self.firstname = firstname
        self.lastname = lastname

    def printname(self):
        print(self.firstname,"|",self.lastname)

x = Person("Kabir", 25)
x.printname()

Kabir | 25

In [71]:
class Student(Person):
    pass

s = Student('Krunal', 23)
s.printname()

Krunal | 23

In [74]:
class Student(Person):
    def __init__(self, firstname, lastname):
        super().__init__(firstname, lastname)

s = Student("Kabir", 36)
s.printname()

Kabir | 36

# Write a program to create a class of student

In [3]:
class Student():
    def __init__(self, name, roll_no):
        self.name = name
        self.roll_no = roll_no

s = Student("xyz", 2)
print(s.name, "|", s.roll_no)

xyz | 2

# Create two student objects

In [8]:
class Student1():
    def __init__(self, name, roll_no, phone_number, address):
        self.name = name
        self.roll_no = roll_no
        self.phone_number = phone_number
        self.address = address

s1 = Student1('xyz', 20, 7484737839, 'Ahmedabad')
print(s1.name)

xyz

In [9]:
class Student1():
    def __init__(self, name, roll_no, phone_number, address):
        self.name = name
        self.roll_no = roll_no
        self.phone_number = phone_number
        self.address = address

s2 = Student1('abc', 10, 987986526, 'Gandhinagar')
print(s2.name)

abc

In [16]:
class triangle():
    def __init__(self, base, height, side1, side2):
        self.base = base
        self.height = height
        self.side1 = side1
        self.side2 = side2

    def area(self):
        area = 0.5 * self.base * self.height
        return area

    def perimeter(self):
        peri = self.base + self.side1 + self.side2
        return peri

t = triangle(5,3,4,3)
print(t.area())
print(t.perimeter())

7.5
12

In [1]:
class Triangle:
    def __init__(self, a, b, c):
        self.a = a
        self.b = b
        self.c = c
    
    def perimeter(self):
        return self.a + self.b + self.c
    
    def area(self):
        s = self.perimeter() / 2
        return (s * (s - self.a) * (s - self.b) * (s - self.c)) ** 0.5
    
    def display(self):
        print(f"Perimeter: {self.perimeter()}")
        print(f"Area: {self.area()}")

triangle = Triangle(3, 4, 5)
triangle.display()

Perimeter: 12
Area: 6.0

In [2]:
class Rectangle:
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
    
    def area(self):
        return self.length * self.breadth

rect1 = Rectangle(4, 5)
rect2 = Rectangle(5, 8)
print(f"Area of first rectangle: {rect1.area()}")
print(f"Area of second rectangle: {rect2.area()}")

Area of first rectangle: 20
Area of second rectangle: 40

In [3]:
class Employee:
    def __init__(self, name, year, address):
        self.name = name
        self.year = year
        self.address = address

    def display(self):
        print(f"{self.name}\t{self.year}\t{self.address}")

employees = [
    Employee("xyz", 2000, "Facebook Tower"),
    Employee("abc", 2015, "Google Street"),
]
print("Name\tYear of Joining\tAddress")
for emp in employees:
    emp.display()

Name	Year of Joining	Address
xyz	2000	Facebook Tower
abc	2015	Google Street

In [5]:
class EmployeeSalary:
    def __init__(self):
        self.salary = 0
        self.hours = 0
    
    def getInfo(self, salary, hours):
        self.salary = salary
        self.hours = hours
    
    def AddSal(self):
        if self.salary < 5000:
            self.salary += 1000
    
    def AddWork(self):
        if self.hours > 6:
            self.salary += 500
    
    def displaySalary(self):
        print(f"Final Salary: {self.salary}")

emp = EmployeeSalary()
emp.getInfo(4500, 7)
emp.AddSal()
emp.AddWork()
emp.displaySalary()

Final Salary: 6000

In [6]:
class Parent:
    def display(self):
        print("This is parent class")

class Child(Parent):
    def show(self):
        print("This is child class")

# Creating objects
parent_obj = Parent()
child_obj = Child()

# Calling functions
parent_obj.display()
child_obj.show()
child_obj.display()

This is parent class
This is child class
This is parent class

In [7]:
class Member:
    def __init__(self, name, age, phone, address, salary):
        self.name = name
        self.age = age
        self.phone = phone
        self.address = address
        self.salary = salary

    def printSalary(self):
        print(f"Salary: {self.salary}")

class Employee(Member):
    def __init__(self, name, age, phone, address, salary, specialization):
        super().__init__(name, age, phone, address, salary)
        self.specialization = specialization

class Manager(Member):
    def __init__(self, name, age, phone, address, salary, department):
        super().__init__(name, age, phone, address, salary)
        self.department = department

emp = Employee("John", 30, "1234567890", "Street 1", 50000, "IT")
mgr = Manager("Alice", 40, "0987654321", "Street 2", 70000, "HR")

emp.printSalary()
mgr.printSalary()

Salary: 50000
Salary: 70000

In [10]:
class Rectangle:
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
    
    def area(self):
        return self.length * self.breadth
    
    def perimeter(self):
        return 2 * (self.length + self.breadth)

class Square(Rectangle):
    def __init__(self, side):
        super().__init__(side, side)

rect = Rectangle(4, 5)
sq = Square(4)
print(f"Rectangle Area: {rect.area()}, Perimeter: {rect.perimeter()}")
print(f"Square Area: {sq.area()}, Perimeter: {sq.perimeter()}")

# Array of squares
squares = [Square(i) for i in range(1, 11)]
for i, square in enumerate(squares, 1):
    print(f"Square {i}: Area = {square.area()}")

Rectangle Area: 20, Perimeter: 18
Square Area: 16, Perimeter: 16
Square 1: Area = 1
Square 2: Area = 4
Square 3: Area = 9
Square 4: Area = 16
Square 5: Area = 25
Square 6: Area = 36
Square 7: Area = 49
Square 8: Area = 64
Square 9: Area = 81
Square 10: Area = 100

In [9]:
class Shape:
    def print_shape(self):
        print("This is a shape")

class RectangleShape(Shape):
    def print_rectangle(self):
        print("This is rectangular shape")

class Circle(Shape):
    def print_circle(self):
        print("This is circular shape")

class Square(RectangleShape):
    def print_square(self):
        print("Square is a rectangle")

square_obj = Square()
square_obj.print_shape()
square_obj.print_rectangle()

This is a shape
This is rectangular shape

In [20]:

try:
    num = int(input("Enter a number: "))
    result = 10 / num
except ZeroDivisionError:
    print("Cannot divide by zero.")
except ValueError:
    print("Invalid input. Please enter a number.")

Enter a number:  0

Cannot divide by zero.

In [21]:

try:
    arr = [1, 2, 3]
    index = int(input("Enter an index: "))
    print(arr[index])
except IndexError:
    print("Index out of range.")
except ValueError:
    print("Invalid input. Please enter an integer.")

Enter an index:  5

Index out of range.

In [22]:

try:
    num = int(input("Enter a number: "))
    result = 10 / num
except Exception as e:
    print(f"An error occurred: {e}")

Enter a number:  6

In [23]:

try:
    raise RuntimeError("This is a runtime error")
except RuntimeError as e:
    print(f"Caught RuntimeError: {e}")

Caught RuntimeError: This is a runtime error

In [24]:

try:
    try:
        raise ValueError("Something went wrong")
    except ValueError as e:
        print(f"Caught an exception: {e}")
        raise
except ValueError as e:
    print(f"Exception rethrown: {e}")

Caught an exception: Something went wrong
Exception rethrown: Something went wrong

In [25]:

def read_numbers():
    try:
        a = float(input("Enter first number: "))
        b = float(input("Enter second number: "))
        return a, b
    except ValueError:
        raise ValueError("Invalid input. Please enter numeric values.")

def divide(a, b):
    if b == 0:
        raise ZeroDivisionError("Division by zero is not allowed.")
    return a / b

try:
    x, y = read_numbers()
    print(f"Result: {divide(x, y)}")
except ValueError as ve:
    print(f"Error: {ve}")
except ZeroDivisionError as zde:
    print(f"Error: {zde}")

Enter first number:  20
Enter second number:  5

Result: 4.0

In [26]:

def level3():
    raise Exception("An error occurred in level 3")

def level2():
    level3()

def level1():
    level2()

try:
    level1()
except Exception as e:
    print(f"Caught an exception from nested function: {e}")

Caught an exception from nested function: An error occurred in level 3