# News Headline

In [23]:
import requests

In [24]:
from bs4 import BeautifulSoup

#Requesting the wbsite
url = "https://www.bbc.com/news"

In [25]:
response = requests.get(url)
print("The response code is: ", response)

The response code is:  <Response [200]>

In [26]:
#parse the HTML Document
soup = BeautifulSoup(response.content, 'html.parser')

In [32]:
#extract the news headline from HTML
headlines = soup.find_all("h2")
print(headlines)

[<h2 class="sc-4fedabc7-3 dsoipF" data-testid="card-headline">Ukraine claims to control 1,000 sq km of Russian territory<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Musk hosts friendly chat with Trump on X after tech delays<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Inside the secret Titanic warehouse<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Why India's market regulator is in the eye of a storm<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">UK's Starmer urges Iran to refrain from Israel attack<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Musk hosts friendly chat with Trump on X after tech delays<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">The rise and fall of North Korea - the sleeping giant of women's football<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Family of mum who died saving baby in Bondi attack speaks<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Hong Kong loves to hate its cabbies - can polite ambassadors help?<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Inside the secret Titanic warehouse<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">One dead as wildfires rage across Athens suburbs<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Yunus: I will help make students' dream for Bangladesh come true<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">'Seismic signals' of liquid water found deep inside Mars<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">FBI probes claims Iran hacked Trump campaign<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">King Charles banknotes go for 11 times face value<!-- --></h2>, <h2 class="sc-54d40974-2 eKfxoB" data-testid="virginia-title">Features and analysis</h2>, <h2 class="sc-4fedabc7-3 dsoipF" data-testid="card-headline">The rise and fall of North Korea - the sleeping giant of women's football<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">The comedian turning her period condition into a stand-up show<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Trump falsely claims Harris crowd was faked<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Taiwan cheers boxer who won Olympic gold after gender row<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">'I thought days of race hatred were over' - Riots take British Asians back to 1970s<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">The comedian turning her period condition into a stand-up show<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">The 'superfood' taking over fields in northern India<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">'On verge of an explosion': Policeman's killing part of spiralling West Bank violence<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Trump falsely claims Harris crowd was faked<!-- --></h2>, <h2 class="sc-54d40974-2 eKfxoB" data-testid="illinois-title">Most watched</h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Bodycam video shows police response to Uvalde shooting<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Moment Banksy rhino artwork is defaced by man in balaclava<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Watch: Timelapse captures Perseid meteor shower<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Emotional Miley Cyrus accepts Disney Legend award<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Doctor taking on epic ironman triathlon challenge<!-- --></h2>, <h2 class="sc-54d40974-2 eKfxoB" data-testid="virginia-title">Also in news</h2>, <h2 class="sc-4fedabc7-3 dsoipF" data-testid="card-headline">Watch: Timelapse captures Perseid meteor shower<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Disqualified Eurovision star will not be prosecuted<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Banksy's eighth London artwork in eight days defaced<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Isaac Hayes' family threaten to sue Trump for $3m<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Emotional Miley becomes youngest-ever Disney Legend<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Disqualified Eurovision star will not be prosecuted<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">'Unauthorised' chopper crashes into Australian hotel<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Horses can plan and strategise, new study shows<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Banksy's eighth London artwork in eight days defaced<!-- --></h2>, <h2 class="sc-54d40974-2 eKfxoB" data-testid="illinois-title">Most read</h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Musk hosts friendly chat with Trump on X after tech delays<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">The 'superfood' taking over fields in northern India<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Ukraine claims to control 1,000 sq km of Russian territory<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Reservoir of liquid water found deep in Martian rocks <!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Man charged after girl stabbed in Leicester Square<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">UK's Starmer urges Iran to refrain from Israel attack<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Family of mum who died saving baby in Bondi attack speaks<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Inside the secret Titanic warehouse<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">Hong Kong loves to hate its cabbies - can polite ambassadors help?<!-- --></h2>, <h2 class="sc-4fedabc7-3 gJvjEE" data-testid="card-headline">King Charles banknotes go for 11 times face value<!-- --></h2>, <h2 class="sc-54d40974-2 eKfxoB" data-testid="virginia-title">Sport</h2>, <h2 class="sc-4fedabc7-3 dsoipF" data-testid="card-headline">Football and transfer updates and including latest on Guehi, De Ligt, Mazraoui and more<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Ten new players to watch in the Premier League<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">The rise and fall of North Korea - the sleeping giant of women's football<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Sprinter set to be first transgender Paralympian<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">F1 Q&amp;A: Which grands prix are under threat?<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Ten new players to watch in the Premier League<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">England great Anderson considering white ball return<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">Premier League 'ours to lose', says Man City's Walker<!-- --></h2>, <h2 class="sc-4fedabc7-3 zTZri" data-testid="card-headline">The rise and fall of North Korea - the sleeping giant of women's football<!-- --></h2>, <h2 class="sc-97754ce7-1 friRUH">Follow BBC on:</h2>]

In [33]:
for headlines in headlines:
    print(headlines.text, "\n")

Ukraine claims to control 1,000 sq km of Russian territory

Musk hosts friendly chat with Trump on X after tech delays

Inside the secret Titanic warehouse

Why India's market regulator is in the eye of a storm

UK's Starmer urges Iran to refrain from Israel attack

Musk hosts friendly chat with Trump on X after tech delays

The rise and fall of North Korea - the sleeping giant of women's football

Family of mum who died saving baby in Bondi attack speaks

Hong Kong loves to hate its cabbies - can polite ambassadors help?

Inside the secret Titanic warehouse

One dead as wildfires rage across Athens suburbs

Yunus: I will help make students' dream for Bangladesh come true

'Seismic signals' of liquid water found deep inside Mars

FBI probes claims Iran hacked Trump campaign

King Charles banknotes go for 11 times face value

Features and analysis

The rise and fall of North Korea - the sleeping giant of women's football

The comedian turning her period condition into a stand-up show

Trump falsely claims Harris crowd was faked

Taiwan cheers boxer who won Olympic gold after gender row

'I thought days of race hatred were over' - Riots take British Asians back to 1970s

The comedian turning her period condition into a stand-up show

The 'superfood' taking over fields in northern India

'On verge of an explosion': Policeman's killing part of spiralling West Bank violence

Trump falsely claims Harris crowd was faked

Most watched

Bodycam video shows police response to Uvalde shooting

Moment Banksy rhino artwork is defaced by man in balaclava

Watch: Timelapse captures Perseid meteor shower

Emotional Miley Cyrus accepts Disney Legend award

Doctor taking on epic ironman triathlon challenge

Also in news

Watch: Timelapse captures Perseid meteor shower

Disqualified Eurovision star will not be prosecuted

Banksy's eighth London artwork in eight days defaced

Isaac Hayes' family threaten to sue Trump for $3m

Emotional Miley becomes youngest-ever Disney Legend

Disqualified Eurovision star will not be prosecuted

'Unauthorised' chopper crashes into Australian hotel

Horses can plan and strategise, new study shows

Banksy's eighth London artwork in eight days defaced

Most read

Musk hosts friendly chat with Trump on X after tech delays

The 'superfood' taking over fields in northern India

Ukraine claims to control 1,000 sq km of Russian territory

Reservoir of liquid water found deep in Martian rocks

Man charged after girl stabbed in Leicester Square

UK's Starmer urges Iran to refrain from Israel attack

Family of mum who died saving baby in Bondi attack speaks

Inside the secret Titanic warehouse

Hong Kong loves to hate its cabbies - can polite ambassadors help?

King Charles banknotes go for 11 times face value

Sport

Football and transfer updates and including latest on Guehi, De Ligt, Mazraoui and more

Ten new players to watch in the Premier League

The rise and fall of North Korea - the sleeping giant of women's football

Sprinter set to be first transgender Paralympian

F1 Q&A: Which grands prix are under threat?

Ten new players to watch in the Premier League

England great Anderson considering white ball return

Premier League 'ours to lose', says Man City's Walker

The rise and fall of North Korea - the sleeping giant of women's football

Follow BBC on:

# Linkedin

In [1]:
from selenium import webdriver
import time
import pandas as pd
import os

from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
# Setup Chrome options
chrome_options = Options()
chrome_options.add_argument("--headless")  # Ensure GUI is off
chrome_options.add_argument("--no-sandbox")
chrome_options.add_argument("--disable-dev-shm-usage")

In [3]:
url1 = 'https://in.linkedin.com/jobs/data-analyst-jobs-pune?position=1&pageNum=0'

In [4]:
# Create a service object
service = Service("C:\\Users\\jalpa\\Downloads\\chromedriver-win64\\chromedriver-win64\\chromedriver.exe")

In [5]:
driver = webdriver.Chrome(service=service)
driver.get(url1)
driver.implicitly_wait(10)

In [6]:
#call the elements
elements = driver.find_elements(By.CLASS_NAME, 'results-context-header__job-count')
n = elements[0].text
n

'11,000+'

In [7]:
cleaned_n = n.replace(",", "").replace("+","")
cleaned_n

'11000'

In [8]:
y = pd.to_numeric(cleaned_n)
y

11000

In [9]:
i = 2
while i<=20:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    i = i + 1

    try:
        x = driver.find_elements_by_xpath("//button[@arial-label = 'Load more results']")
        driver.execute_script("arguments[0].click();")
        time.sleep(3)
    except:
        pass
        time.sleep(4)

In [10]:
companyname = []

# Job

In [11]:
for j in range(y):
    try:
        company = driver.find_elements(By.CLASS_NAME,'base-search-card__subtitle')[j].text
        companyname.append(company)
    except IndexError:
        print("Done")
        break

Done

In [12]:
companyname

['ACG World',
 'LTIMindtree',
 'ADP',
 'Tietoevry',
 'Fusemachines',
 'Wipro',
 'PubMatic',
 'Virtusa',
 'Artefact',
 'Bentley Systems',
 'DWS Group',
 'DWS Group',
 'Fusemachines',
 'CRISIL Limited',
 'Rockwell Automation',
 'Emerson',
 'Dendrite.ai',
 'Sakon',
 'Seco Tools',
 'AllianceBernstein',
 'Birlasoft',
 'LivePerson',
 'GTT',
 'TechHost Services',
 'Eaton',
 'Eaton',
 'Emerson',
 'Eaton',
 'Comscore, Inc.',
 'Luxoft',
 'NetSPI',
 'Talpro - Leaders in Technology Hiring',
 'Mastek',
 'Blue Altair',
 'Oracle',
 'InfoCepts',
 'Eaton',
 'METRO Global Solution Center IN',
 'Wipro',
 'Snowflake',
 'The Human Capital Exchange',
 'Easebuzz',
 'Lakshmikumaran and Sridharan attorneys',
 'Wipro',
 'CodersBrain',
 'Oracle',
 'Confidential',
 'GreenTree Advisory Services Pvt Ltd',
 'PeopleStrong',
 'Mastek',
 'Fintune',
 'TETRAHED INC',
 'TETRAHED INC',
 'eClerx',
 'Fusemachines',
 'PyjamaHR',
 'MSMEx',
 'BeansBit Private Limited',
 'Dubai Jobs, Gulf Jobs, Jobs in Dubai, Qatar, Kuwait - Boyen Haddin & The Giant HR Consultant',
 'Precision For Medicine',
 'Eaton',
 'Emerson',
 'Eaton',
 'Comscore, Inc.',
 'Luxoft',
 'NetSPI',
 'Talpro - Leaders in Technology Hiring',
 'Mastek',
 'Blue Altair',
 'Oracle',
 'Fintune',
 'TETRAHED INC',
 'TETRAHED INC',
 'eClerx',
 'Fusemachines',
 'PyjamaHR',
 'MSMEx',
 'BeansBit Private Limited',
 'Dubai Jobs, Gulf Jobs, Jobs in Dubai, Qatar, Kuwait - Boyen Haddin & The Giant HR Consultant',
 'Precision For Medicine',
 'SMS-Magic',
 'Green Clover',
 'Cummins Inc.',
 'Allianz Services',
 'SPG Consulting',
 'Infosys',
 'Hexanika',
 'Confidential',
 'Pracemo Global Solutions',
 'Fusemachines']

# Title

In [13]:
titlename = []

In [14]:
for j in range(y):
    try:
        title = driver.find_elements(By.CLASS_NAME,'base-search-card__title')[j].text
        titlename.append(title)
    except IndexError:
        print("Done")
        break

Done

In [15]:
titlename

['Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Junior Data and BI engineers (0–1-year experience)',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst (USA timezone)',
 'Data Analyst',
 'Data Analyst (ASC), Associate',
 'Data Analyst (ASC), Associate',
 'BI Analyst',
 'Data Analyst',
 'Data Engineer',
 'Master Data Analyst',
 'Data Analyst',
 'Senior Analyst- Data Operation',
 'Data Analyst',
 'Analyst, Insights & Analytics',
 'Business Intelligence Specialist',
 'Revenue Data Analyst (Visualization)',
 'Data Analyst',
 'Data & BI Analyst',
 'Associate Analyst- Data Engineer',
 'Analyst - BI',
 'Supply Chain Data Analyst',
 'Associate Analyst- Data',
 'Data Analyst',
 'Data Analyst (Cyber Risk & Controls Dashboards & Reporting)',
 'Junior Data Engineer',
 'Business Data Analyst',
 'ETL Testing',
 'Analyst/Consultant - Data Science',
 'PL/SQL Developer',
 'Advanced Analytics - Consultant',
 'Associate Analyst - BI',
 'Master Data/MDM Analyst',
 'Data Engineer',
 'Data Analyst - Accounting',
 'Data Analyst - Consultant with E&Y (Contract to Hire)',
 'Data Engineer',
 'Data Annotator',
 'Data Engineer',
 'Data Analyst (Snowflake)_Kripa_Accion labs',
 'PL/SQL Developer',
 'Data Quality Analyst',
 'Data Referential Analyst',
 'Data Analyst',
 'Data Engineer- Python/Pyspark',
 'Data Analyst in Pune',
 'BI Analyst',
 'BI Analyst',
 'Analyst',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'SQL Developer',
 'BI Data Analyst-ODI',
 'Supervisor, Data Analyst',
 'Analyst - BI',
 'Supply Chain Data Analyst',
 'Associate Analyst- Data',
 'Data Analyst',
 'Data Analyst (Cyber Risk & Controls Dashboards & Reporting)',
 'Junior Data Engineer',
 'Business Data Analyst',
 'ETL Testing',
 'Analyst/Consultant - Data Science',
 'PL/SQL Developer',
 'Data Analyst in Pune',
 'BI Analyst',
 'BI Analyst',
 'Analyst',
 'Data Engineer',
 'Data Engineer',
 'Data Analyst',
 'SQL Developer',
 'BI Data Analyst-ODI',
 'Supervisor, Data Analyst',
 "Data Analyst - Founder's Office",
 'Data engineer',
 'Business Intelligence Analyst',
 'Data Engineer',
 'Data Engineer',
 'PLSQL Developer',
 'Data Analyst',
 'Senior Data Analyst',
 'Data Engineer',
 'Sr. Azure Data Analyst']

In [16]:
# prepare a datafram
companyfinal = pd.DataFrame(companyname, columns = ["Company"])
titlefinal = pd.DataFrame(titlename, columns = ["Title"])

In [17]:
final = companyfinal.join(titlefinal)
final

,Company,Title
0,ACG World,Data Analyst
1,LTIMindtree,Data Analyst
2,ADP,Data Analyst
3,Tietoevry,Junior Data and BI engineers (0–1-year experie...
4,Fusemachines,Data Analyst
...,...,...
85,Infosys,PLSQL Developer
86,Hexanika,Data Analyst
87,Confidential,Senior Data Analyst
88,Pracemo Global Solutions,Data Engineer
89,Fusemachines,Sr. Azure Data Analyst

In [24]:
final.to_csv('linkedinjobslist.csv')

# Autoscraper

In [47]:
from autoscraper import AutoScraper

In [48]:
url = 'https://www.amazon.in/mobile/s?k=mobile'

wanted_list = ["POCO C65(Matte Black 6GB RAM 128GB Storage)", "1,477", "7,499 ", "38% off"]

In [49]:
scraper = AutoScraper()
result = scraper.build(url, wanted_list)

In [50]:
print(result)

['Redmi 13C (Stardust Black, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera', 'POCO C65(Matte Black 6GB RAM 128GB Storage)', 'Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Triple AI Camera | 11GB RAM (6GB RAM + 5GB Virtual RAM) | 128GB Storage | 5000mAh Battery | 2 Years Android Upgrades | 20W Charger Included | So Grey', 'vivo Y18i (Space Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers |Without Charger', 'vivo Y28e 5G (Vintage Red, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers | Without Charger', 'realme NARZO N61 (Voyage Blue,4GB RAM+64GB Storage) 90Hz Eye Comfort Display | IP54 Dust & Water Resistance | 48-Month Fluency | Charger in The Box', 'OnePlus Nord CE4 Lite 5G (Super Silver, 8GB RAM, 128GB Storage)', 'POCO M6 5G (Orion Blue, 6GB RAM, 128GB Storage)', 'POCO C65 (Pastel Blue 4GB RAM 128GB Storage)', 'Redmi A3 (Midnight Black, 3GB RAM, 64GB Storage) | Premium Halo Design | 90Hz Display | Powerful 4G G36 Processor', 'Redmi 13C (Starshine Green, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera', 'Redmi 13C 5G (Starlight Black, 4GB RAM, 128GB Storage) | MediaTek Dimensity 6100+ 5G | 90Hz Display', 'Redmi 13C 5G (Startrail Silver, 4GB RAM, 128GB Storage) | MediaTek Dimensity 6100+ 5G | 90Hz Display', 'OnePlus Nord CE 3 Lite 5G (Chromatic Gray, 8GB RAM, 128GB Storage)', 'iQOO Z9 Lite 5G (Aqua Flow, 4GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box', 'realme NARZO 70 Pro 5G (Glass Green, 8GB RAM,256GB Storage) Dimensity 7050 5G Chipset | Horizon Glass Design | Segment 1st Flagship Sony IMX890 OIS Camera', 'Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Triple AI Camera | 11GB RAM (6GB RAM + 5GB Virtual RAM) | 128GB Storage | 5000mA...', 'realme NARZO N61 (Voyage Blue,4GB RAM+64GB Storage) 90Hz Eye Comfort Display | IP54 Dust & Water Resistance | 48-Month Flu...', 'realme NARZO 70 Pro 5G (Glass Green, 8GB RAM,256GB Storage) Dimensity 7050 5G Chipset | Horizon Glass Design | Segment 1st...', '6,241', '1,477', '4,610', '9', '743', '1,089', '372', '6,407', '48,788', '44', '2,866', '8,499', '7,499', '11,499', '7,999', '10,999', '19,999', '9,999', '6,999', '10,499', '16,498', '18,998']

In [51]:
scraper.get_result_similar(url, grouped = True)

{'rule_b7nm': ['Redmi 13C (Stardust Black, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera',
  'Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Triple AI Camera | 11GB RAM (6GB RAM + 5GB Virtual RAM) | 128GB Storage | 5000mAh Battery | 2 Years Android Upgrades | 20W Charger Included | So Grey',
  'vivo Y18i (Space Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers |Without Charger',
  'Amazon\'s Choicefor "mobile"',
  'POCO C65(Matte Black 6GB RAM 128GB Storage)',
  'vivo Y28e 5G (Vintage Red, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers | Without Charger',
  'OnePlus Nord CE4 Lite 5G (Super Silver, 8GB RAM, 128GB Storage)',
  'realme NARZO N61 (Voyage Blue,4GB RAM+64GB Storage) 90Hz Eye Comfort Display | IP54 Dust & Water Resistance | 48-Month Fluency | Charger in The Box',
  'Redmi 13C 5G (Starlight Black, 4GB RAM, 128GB Storage) | MediaTek Dimensity 6100+ 5G | 90Hz Display',
  'POCO M6 5G (Orion Blue, 6GB RAM, 128GB Storage)',
  'iQOO Z9 Lite 5G (Aqua Flow, 4GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box',
  'realme NARZO 70x 5G (Ice Blue, 6GB RAM,128GB Storage)|120Hz Ultra Smooth Display|Dimensity 6100+ 6nm 5G|50MP AI Camera|45W Charger in The Box',
  'Redmi 13C 5G (Startrail Silver, 4GB RAM, 128GB Storage) | MediaTek Dimensity 6100+ 5G | 90Hz Display',
  'POCO C65 (Pastel Blue 4GB RAM 128GB Storage)',
  'Redmi 13C (Starshine Green, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera',
  'realme NARZO 70 Pro 5G (Glass Green, 8GB RAM,256GB Storage) Dimensity 7050 5G Chipset | Horizon Glass Design | Segment 1st Flagship Sony IMX890 OIS Camera',
  'Redmi A3 (Midnight Black, 3GB RAM, 64GB Storage) | Premium Halo Design | 90Hz Display | Powerful 4G G36 Processor'],
 'rule_dtih': ['Redmi 13C (Stardust Black, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera',
  'Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Triple AI Camera | 11GB RAM (6GB RAM + 5GB Virtual RAM) | 128GB Storage | 5000mA...',
  'vivo Y18i (Space Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers |Without Charger',
  'POCO C65(Matte Black 6GB RAM 128GB Storage)',
  'vivo Y28e 5G (Vintage Red, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers | Without Charger',
  'OnePlus Nord CE4 Lite 5G (Super Silver, 8GB RAM, 128GB Storage)',
  'realme NARZO N61 (Voyage Blue,4GB RAM+64GB Storage) 90Hz Eye Comfort Display | IP54 Dust & Water Resistance | 48-Month Flu...',
  'Redmi 13C 5G (Starlight Black, 4GB RAM, 128GB Storage) | MediaTek Dimensity 6100+ 5G | 90Hz Display',
  'POCO M6 5G (Orion Blue, 6GB RAM, 128GB Storage)',
  'iQOO Z9 Lite 5G (Aqua Flow, 4GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box',
  'realme NARZO 70x 5G (Ice Blue, 6GB RAM,128GB Storage)|120Hz Ultra Smooth Display|Dimensity 6100+ 6nm 5G|50MP AI Camera|45W...',
  'Redmi 13C 5G (Startrail Silver, 4GB RAM, 128GB Storage) | MediaTek Dimensity 6100+ 5G | 90Hz Display',
  'POCO C65 (Pastel Blue 4GB RAM 128GB Storage)',
  'Redmi 13C (Starshine Green, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera',
  'realme NARZO 70 Pro 5G (Glass Green, 8GB RAM,256GB Storage) Dimensity 7050 5G Chipset | Horizon Glass Design | Segment 1st...',
  'Redmi A3 (Midnight Black, 3GB RAM, 64GB Storage) | Premium Halo Design | 90Hz Display | Powerful 4G G36 Processor'],
 'rule_lal7': ['6,241',
  '4,610',
  '1,477',
  '9',
  '743',
  '6,407',
  '1,089',
  '44',
  '1,194',
  '6,407',
  '1,477',
  '6,241',
  '2,866',
  '372'],
 'rule_g4p5': ['6,241',
  '4,610',
  '1,477',
  '9',
  '743',
  '6,407',
  '1,089',
  '44',
  '1,194',
  '6,407',
  '1,477',
  '6,241',
  '2,866',
  '372'],
 'rule_wsim': ['8,499',
  '11,499',
  '7,999',
  '7,499',
  '10,999',
  '19,999',
  '7,499',
  '10,499',
  '9,999',
  '10,499',
  '12,998',
  '10,499',
  '6,999',
  '8,499',
  '18,998',
  '6,999'],
 'rule_50ub': ['8,499',
  '11,499',
  '7,999',
  '7,499',
  '10,999',
  '19,999',
  '7,499',
  '10,499',
  '9,999',
  '10,499',
  '12,998',
  '10,499',
  '6,999',
  '8,499',
  '18,998',
  '6,999']}

In [52]:
scraper.set_rule_aliases({'rule_b7nm': 'Title'})
scraper.keep_rules(['rule_b7nm'])
scraper.save('amazon-search')

In [56]:
result = scraper.get_result_similar(url, group_by_alias = True)

In [57]:
result['Title']

['Redmi 13C (Stardust Black, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera',
 'Amazon\'s Choicefor "mobile"',
 'POCO C65(Matte Black 6GB RAM 128GB Storage)',
 'realme NARZO N61 (Voyage Blue,4GB RAM+64GB Storage) 90Hz Eye Comfort Display | IP54 Dust & Water Resistance | 48-Month Fluency | Charger in The Box',
 'POCO C65 (Pastel Blue 4GB RAM 128GB Storage)',
 'Nokia G42 5G | Snapdragon® 480+ 5G | 50MP Triple AI Camera | 11GB RAM (6GB RAM + 5GB Virtual RAM) | 128GB Storage | 5000mAh Battery | 2 Years Android Upgrades | 20W Charger Included | So Grey',
 'Redmi 13C (Starshine Green, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera',
 'POCO M6 5G (Orion Blue, 6GB RAM, 128GB Storage)',
 'OnePlus Nord CE4 Lite 5G (Super Silver, 8GB RAM, 128GB Storage)',
 'POCO M6 Pro 5G (Power Black, 4GB RAM, 128GB Storage)',
 'vivo Y28e 5G (Vintage Red, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers | Without Charger',
 'Redmi 13C 5G (Starlight Black, 4GB RAM, 128GB Storage) | MediaTek Dimensity 6100+ 5G | 90Hz Display',
 'Redmi 13C (Starfrost White, 6GB RAM, 128GB Storage) | Powered by 4G MediaTek Helio G85 | 90Hz Display | 50MP AI Triple Camera',
 'vivo Y18i (Space Black, 4GB RAM, 64GB Storage) with No Cost EMI/Additional Exchange Offers |Without Charger',
 'iQOO Z9 Lite 5G (Aqua Flow, 4GB RAM, 128GB Storage) | Dimensity 6300 5G | 50MP Sony AI Camera | Charger in The Box',
 'realme NARZO N63 (Leather Blue, 4GB RAM+128GB Storage) 45W Fast Charge | 5000mAh Durable Battery | 7.74mm Ultra Slim | 50MP AI Camera | AI Boost',
 'POCO M6 Pro 5G (128 GB) (6 GB RAM) (Power Black)']